audio {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    background: #34a853;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

audio::-webkit-media-controls-panel {
    background: #3EB985;
    border-radius: 50px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    filter: invert(1);
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: white;
}

audio::-webkit-media-controls-timeline {
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
}

audio::-webkit-media-controls-volume-slider {
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
}