.album-card {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #f4f4f4;
    border-radius: 16px;
    padding: 18px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    transition: box-shadow 0.2s, border 0.2s, transform 0.2s;
}

.album-card:hover {
    border-color: #08844F;
    transform: translateY(5px);
    box-shadow: 0 4px 24px rgba(42,91,231,0.12);
}

.album-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.name-album {
    font-size: 1.1rem;
    font-weight: 700;
    color: #f1f1f1;
    margin-bottom: 2px;
    text-align: center;
}

.name-artist {
    font-size: 1rem;
    color: #f1f1f1;
    text-align: center;
}

