/* Estilo para Index */
.main-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 32px 0;
}

.hero-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 32px;
}

.cta-container :nth-child(1) {
    font-size: 2.2rem;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-left: 30px;
    line-height: 1;
}

.cta-container :nth-child(2) {
    font-size: 2.2rem;
    font-weight: 700;
    color: #99FFD4;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-left: 40px;
    line-height: 1;
}

.cta-container :nth-child(3) {
    font-size: 2.2rem;
    font-weight: 700;
    color: #2CFFA5;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-left: 50px;
    line-height: 1;
}

.cta-text {
    margin-bottom: -8px;
    letter-spacing: 1px;
}

.container {
  display: flex;
  min-height: 100vh;
}






