.devs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f4f4f4;
    padding-top: 40px;
}

.easter {
    background-color: #22c64e;
    border-radius: 16px;
    height: 135px;
    width: 220px;
}

.easter a {
    color: #f4f4f4;
}