.albums-content, .artists-content {
    margin-top: 32px;
}

.albums-header, .artists-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.title-albums, .title-artists {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    color: #f1f1f1;
}

.albums-grid {
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
}
