.sidebar {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 220px;
    height: 100vh;
    flex-shrink: 0;
}

.sidebar-list {
    color: #f4f4f4;
    list-style: none;
    padding: 0;
}

#active {
    background-color: #17925d;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 32px;
    font-weight: 600;
    transition: 700ms;
}

#active:hover {
    background-color: #46aa7f;
}

.sidebar-content {
    color: #f4f4f4;
    transition: 700ms;
}

.sidebar-content a {
    color: #f4f4f4;
}

.sidebar-content:hover {
    background-color: #46aa7f;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 32px;
    font-weight: 600;
    transition: 700ms;
}

.sidebar ul li {
    margin: 15px 0px;
}